* {
box-sizing: border-box;
}

body {
  margin: 0;
}

hr { 
  display: block;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #BE5505;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFD400;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style the header */
.header {
  background-color: #F5720C;
  padding: 20px;
  text-align: center;
  color: #FDFDFF;
} 

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #BE5505;
  border-style: solid;
  border-color: #BE5505 #BE5505 #FFD400 #BE5505;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #FFD400;
  color: black;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left column */
.column.side {
  width: 25%;
  background-color: #FFB886;
  height: 950px;
}

/* Right column */
.column.right {
  width: 75%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 75%; /* 4:3 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Style the footer */
.footer {
  background-color: #D25F07;
  padding: 10px;
  text-align: center;
}
  